.monster {
    flex: 1;
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.save-container {
    display: flex;
    align-items: stretch;
}

.container {
    width: 100%;
}
.tag-container {
    display: flex;
    flex-direction: row;
    border-right: 5px solid white;
    padding-right: 10px;
    column-gap: 5px;
    align-items: center;
}
.tag {
    display: flex;
    cursor: pointer;
    flex-direction: column;
}