@import '../colors';

.header {
    margin-bottom: 5px;
    // font-size: 1.5rem;
    display: flex;
    column-gap: 5px;
}

.save-container {
    display: flex;
    align-items: stretch;
    width: 100%;
}

.container {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px dotted white;
}
.tag-container {
    display: flex;
    flex-direction: row;
    border-right: 5px solid white;
    padding-right: 10px;
    column-gap: 5px;
    align-items: center;
}
.tag {
    display: flex;
    cursor: pointer;
    flex-direction: column;
}
.table {
    display: flex;
    flex-wrap:wrap;
}
.cell {
    display: flex;
    flex-direction: column;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: white;
    width: 250px;

    &:first-child {
        border-width: 1px 1px 1px 1px;
    }

    > * {
        padding: 2px;
    }
}
.cell-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $tertiary;
    color: white;
}
.delete-btn {
    background-color: rgb(202, 69, 69);
    cursor: pointer;
    border: 0;
    color: white;
}
.roll-btn {
    background-color: $secondary;
    // background-color: rgb(69, 202, 73);
    cursor: pointer;
    border: 0;
    margin-right: 2px;
    color: white;
}
.btn-container {
    display: flex;
    align-self: stretch;
    > button {
        width: 20px;
        overflow:hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.cell-value {
    cursor: pointer;
}

.hidden {
    display: none;
}

.locked {
    background-color: $other-2;
}