@import 'colors';

.app {
  min-width: 100%;
  min-height: 100%;

  background-color: $bg;
  color: $text;
}

input {
  border-radius: 5px;
  padding: 5px;
}
select {
  border-radius: 5px;
  padding: 5px;
  box-shadow: 5px 5px 1px 0px black;
}
.header {
  display: flex;
  column-gap: 5px;
  > button {
    flex: 1;
    border: 0;
    border-radius: 5px;
    background-color: $secondary;

    &.selected {
      background-color: $tertiary;
      color: white;
    }
  }
}

.content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 10px; 

  justify-content: center;

  > h1 {
    margin: 0;
    text-align: center;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10px;
  > button {
    padding: 10px;
    min-width: 200px;
    background-color: $secondary;
    color: $ctext;
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 1px 0px black;
  }
}

.help-text {
  text-align: center;
}

.tables {
  // display: flex;
  // flex-direction: row;
  // row-gap: 10px;
  // column-gap: 20px;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: flex-start;
  width: 100%;

  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr;

  column-gap: 20px;
  row-gap: 20px;
}
@media (max-width: 1200px) {
  .tables {
    grid-template-columns: 1fr;

    word-break: break-word;
  }
}
.result {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.saved-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
    > * {
    padding: 5px;
    border-bottom: 10px solid white;
  }
}

.add-table-inputs {
  display: flex;
  align-items: stretch;
  column-gap: 5px;
  align-self:stretch;
}